<div class="flex">

  <!-- SIDEBAR -->
  <aside 
    class="h-screen bg-gray-900 text-white transition-all duration-300"
    [class.w-64]="isOpen()" 
    [class.w-20]="!isOpen()"
  >
    <!-- LOGO -->
    <div class="flex items-center justify-between p-4">
      <span class="text-xl font-bold" *ngIf="isOpen()">Mi App</span>
      <button (click)="toggleSidebar()" class="text-gray-400 hover:text-white">
        ☰
      </button>
    </div>

    <!-- MENU -->
    <nav class="mt-5 space-y-2">
      <a href="#"
        class="flex items-center gap-3 px-4 py-3 hover:bg-gray-700 rounded-lg transition">
        🏠 <span *ngIf="isOpen()">Inicio</span>
      </a>

      <a routerLink="/admin/usuarios"
        class="flex items-center gap-3 px-4 py-3 hover:bg-gray-700 rounded-lg transition">
        👤 <span *ngIf="isOpen()">Usuarios</span>
      </a>

      <a routerLink="/admin/config"
        class="flex items-center gap-3 px-4 py-3 hover:bg-gray-700 rounded-lg transition">
        ⚙️ <span *ngIf="isOpen()">Configuración</span>
      </a>
       <a routerLink="/admin/productos"
        class="flex items-center gap-3 px-4 py-3 hover:bg-gray-700 rounded-lg transition">
        ⚙️ <span *ngIf="isOpen()">Productos</span>
      </a>
    </nav>
  </aside>

 
  
</div>
